.mainContainer{
    width: 100%;
    height: 85vh;
    background-color: aqua;
}

.callDetailContainer{
    width: 100%;
    height: 100vh;
}

.videoContainer{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.callerStream{
    width: 100%;
    height: 100%;
    background-color: black;
}

.localStream{
    width: 40%;
    height: 50%;
    right: 5px;
    margin-top: 5px;
    position: absolute;
}

